{% load bootstrap5 %}
{% bootstrap_css %}

{% include "../../page/header.html" %}

{% include "../../page/navbar.html" %}

<div class="container">
    <div class="d-flex justify-content-center h2 p-3">
    METODO DE LA BISECCION
    </div>
    <div class="d-flex justify-content-center label p-2">
    Recuerda usar bien los paréntesis y que los exponentes se 
    escriben con Ejemplo: 2*x**3 se lee: Dos equis al cubo:
    </div>

    <form class="mt32" method='POST' action='' id="my_form">
        {% csrf_token %}
        <div class="form-group row">
            <label for="funcion" class="control-label col-sm-4">Función</label>
            <div class="col-sm-8">
                <input name="funcion" type="text" class="form-control" 
                {% if funcion %} 
                    value={{funcion}} 
                {% endif %} 
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="puntoxa" class="control-label col-sm-4">Punto xa (intervalo inferior)</label>
            <div class="col-sm-8">
                <input name="puntoxa" type="number" class="form-control" 
                {% if puntoxa %} 
                    value={{puntoxa}} 
                {% endif %} 
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="puntoxb" class="control-label col-sm-4">Punto xb (intervalo superior)</label>
            <div class="col-sm-8">
                <input name="puntoxb" type="number" class="form-control" 
                {% if puntoxb %} 
                    value={{puntoxb}} 
                {% endif %} 
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="error" class="control-label col-sm-4">Error</label>
            <div class="col-sm-8">
                <input name="error" type="number" step=".000001" class="form-control" 
                {% if err %} 
                    value={{err}} 
                {% endif %} 
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="pasos" class="control-label col-sm-4">Pasos</label>
            <div class="col-sm-8">
                <input name="pasos" type="text" class="form-control" 
                {% if pasos %} 
                    value={{pasos}} 
                {% endif %} 
                required>
            </div>
        </div>
        <div class="col text-center">
            <button class="btn btn-dark" type="submit">Calcular </button>
        </div>
    </form>

{% if error %}
<div class="d-flex justify-content-center h2 p-3">
    {{ error }}
    </div>
{% endif %}

{% if iteraciones %}
<table class="table">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Iteracion</th>
          <th scope="col">xa</th>
          <th scope="col">xb</th>
          <th scope="col">xr</th>
          <th scope="col">f(xa)</th>
          <th scope="col">f(xr)</th>
          <th scope="col">Ea(%)</th>
        </tr>
      </thead>
<tbody>    
{% for a in iteraciones %}

<tr>
    <th scope="row">{{ a.0 }}</th>
    <td>{{ a.1 }}</td>
    <td>{{ a.2 }}</td>
    <td>{{ a.3 }}</td>
    <td>{{ a.4 }}</td>
    <td>{{ a.5 }}</td>
    <td>{{ a.6 }}</td>
</tr>

{% endfor %}

</tbody>
</table>

{% endif %}

{% if resultado %}
<div class="d-flex justify-content-center h2 p-3">
    {{ resultado }}
    </div>
{% endif %}

</div>


{% include "../../page/footer.html" %}