{% load bootstrap5 %}
{% bootstrap_css %}

{% include "../../page/header.html" %}

{% include "../../page/navbar.html" %}

<div class="container">
    <div class="d-flex justify-content-center h2 p-3">
    METODO DE GAUSS JORDAN
    </div>
    <div class="d-flex justify-content-center label p-2">
        Ingresar los datos numericos en ecuaciones y resultados de manera espaciada, ejemplo:
        primera ecuacion: 4 2 5   
        segunda ecuacion: 2 5 8 
        tercera ecuacion: 5 4 3 y resultados 60.70 92.20 56.30. Solo matrices de 3x3
    </div>
    
    <form class="mt32" method='POST' action='' id="my_form">
        {% csrf_token %}
        <div class="form-group row">
            <label for="fname" class="control-label col-sm-2">Primera Ecuacion</label>
            <div class="col-sm-10">
                <input name="Ecuacion1" type="text" class="form-control" 
                {% if funcion %} 
                    value={{Ecuacion1}} 
                {% endif %}  
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="fname" class="control-label col-sm-2">Segunda Ecuacion</label>
            <div class="col-sm-10">
                <input name="Ecuacion2" type="text" class="form-control" 
                {% if funcion %} 
                    value={{Ecuacion2}} 
                {% endif %}  
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="fname" class="control-label col-sm-2">Tercera Ecuacion</label>
            <div class="col-sm-10">
                <input name="Ecuacion3" type="text" class="form-control" 
                {% if funcion %} 
                    value={{Ecuacion3}} 
                {% endif %}  
                required>
            </div>
        </div>

        <div class="form-group row">
            <label for="lname" class="control-label col-sm-2">Cantidad 1</label>
            <div class="col-sm-10">
                <input name="resultado1" type="text" class="form-control"
                {% if punto %} 
                    value={{resultado1}} 
                {% endif %}  
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="control-label col-sm-2">Cantidad 2</label>
            <div class="col-sm-10">
                <input name="resultado2" type="text" class="form-control"
                {% if punto %} 
                    value={{resultado2}} 
                {% endif %}  
                required>
            </div>
        </div>
        <div class="form-group row">
            <label for="lname" class="control-label col-sm-2">Cantidad 3</label>
            <div class="col-sm-10">
                <input name="resultado3" type="text" class="form-control"
                {% if punto %} 
                    value={{resultado3}} 
                {% endif %}  
                required>
            </div>
        </div>
        <div class="col text-center">
            <button class="btn btn-dark" type="submit">Calcular </button>
        </div>
    </form>

    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Resultados</th>
            </tr>
          </thead>
    <tbody>
            
    {% for a in resul %}
    
    <tr>
        <th scope="row">{{ a.0 }}</th>
        <td>{{ a.1 }}</td>
        <td>{{ a.2 }}</td>
        <td>{{ a.3 }}</td>
        <td>{{ a.4 }}</td>
    </tr>
    
    {% endfor %}
    
    </tbody>
    </table>
    
    
</div>


{% include "../../page/footer.html" %}